/*form*/ 

.form {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 300px;
    top: 700px;
    left: 220px;
    z-index: 4;
}

@media (max-width:1024px){
    .form{
        width: 700px;
        height: 340px;
        left: 30px;
        top:900px;
        z-index: 1;
    }
}

@media (max-width:360px){
    .form{
        width: 340px;
        height: 380px;
        left: 15px;
        top:700px;
    }
}

.formBorder{
    border: none;
}

.formTitle{
    display: flex;
    flex-direction:column;
    width: 600px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

@media (max-width:1024px){
    .formTitle{
        width: 600px;
        height: 20px;
     
    }
}

@media (max-width:360px){
    .formTitle{
        width: 174px;
        height: 20px;
     
    }
}

.formRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 700px;
    height: 80px;
    gap: 50px;
    left: 0px; 
    top:10px;
}

@media (max-width:1024px){
    .formRow{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 650px;
        height: 50px;
        gap: 50px;
        
    }
}

@media (max-width:360px){
    .formRow{
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 200px;
    gap: 0px;
   
    }
}

.field {
   background: #F8FAFE;
}

.mistakeRow { 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 50px;
    width: 700px;
    height: 40px;
    top:-5px;
}


@media (max-width:1024px){
    .mistakeRow{
        width: 600px;
        height: 40px;
        top:-10px;
    }
}

/*inputName*/

.inputNameColumn{
    width: 500px;
    height: 120px; 
}


@media (max-width:360px){
    .inputNameColumn{
        width: 330px;
        height: 70px;
    }
}

.inputName{
    width: 500px;
    height: 80px; 
}

input[type=text]{
    width: 500px;
    height: 40px;
    font-size: 16px;
    padding:10px;
    z-index: 4;
}

@media (max-width:1024px){
    input[type=text]{
        width: 500px;
        height: 40px;
        padding: 15px;
    }
}

@media (max-width:360px){
    input[type=text]{
        width: 330px;
        height: 40px;
        padding: 15px;
        font-size: 14px;
    }
}

/*inputNumber*/

.inputNumberColumn{
    width: 150px;
    height:70px; 
}

@media (max-width:360px){
    .inputNumberColumn{
        width: 330px;
        height: 80px; 
    }
}

.inputNumber{
    width: 150px;
    height: 40px; 
    font-size: 16px;
    padding: 5px; 
}

@media (max-width:360px){
    .inputNumber{
        width: 330px;
        height: 40px; 
    }
}

input[type=number]{
    width: 150px;
    height: 40px;
    font-size: 16px;
    padding: 5px;
}

@media (max-width:1024px){
    input[type=number]{
        width: 150px;
        height: 40px;
    }
}

@media (max-width:360px){
    input[type=number]{
        width: 330px;
        height: 40px;
        padding: 15px;
        font-size: 14px;
    }
}

.inputText{
    width: 700px;
    height: 190px;  
}

@media (max-width:360px){
    .inputText{
        width: 330px;
        height: 40px;
        top:0px;
    }
}

input[type = textarea]{
    width: 700px;
    height: 190px;
    font-size: 12px;
    top:0px;
}

@media (max-width:1024px){
    input[type=textarea]{
        width: 700px;
        height: 200px;
        top:30px;
    }
}

@media (max-width:360px){
    input[type=textarea]{
        width: 330px;
        height: 200px;
        top:-50px;
    }
}

input[type = textarea]::placeholder{
    font-size: 16px;
    padding-top:-100px;
}

/*mistakeName*/
.mistakeNameVisible{
    width: 500px;
    height: 30px;
    top:0px;
    font-size: 14px;
    background: #F36223;
    color: #F8FAFE;
    padding: 5px 20px;
    z-index: 3;
}

@media (max-width:360px){
    .mistakeNameVisible{
        width: 330px;
        height: 30px; 
        padding: 5px 20px 5px 15px;
    }
}


.mistakeName{ 
    width: 500px;
    height: 30px;
    display: block;
    background:#F8FAFE;
    color: #F8FAFE;
    padding: 2px 20px;
    z-index: 3;
    font-size: 16px;
}

@media (max-width:1024px){
    .mistakeName{
        width: 500px;
        height: 30px; 
        padding: 15px 20px 5px 15px;
    }
}

@media (max-width:360px){
    .mistakeName{
        width: 330px;
        height: 30px; 
        padding: 15px 20px 5px 15px;
    }
}

/*mistakeNumber*/

.mistakeNumberVisible{
    width: 150px;
    height: 30px; 
    display: block;
    font-size: 14px;
    background: #F36223;
    color: #F8FAFE;
    padding: 3px 5px 1px 13px;
    line-height: 12px;
    text-align: center;
    top:0px;
    z-index: 3;
}

@media (max-width:360px){
    .mistakeNumberVisible{
        width: 330px;
        height: 30px; 
        padding: 10px 20px 5px 15px;
    }
}

    
.mistakeNumber{
    width: 150px;
    height: 20px; 
    display: block;
    font-size: 12px;
    background: #F8FAFE;
    color: #F8FAFE;
    padding: 3px 5px 1px 13px;
    line-height: 12px;
    text-align: center;
    top:0px;
    z-index: 3;
}

@media (max-width:1024px){
    .mistakeNumber{
        width: 150px;
        height: 30px;
        padding: 3px 5px 1px 10px;
        top:-2px;
    }
}

@media (max-width:360px){
    .mistakeNumber{
        top:0px;
        width: 330px;
        height: 30px; 
      
    }
}

.form__border{
    width: 750px;
    height: 750px;
    display: flex;
    flex-direction: column;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.formButton { 
    width: 180px;
    height: 60px;
    background: #F36223;
    color: #F8FAFE;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    top:10px;
}

@media (max-width:1024px){
    .formButton {
        width: 180px;
        height: 40px;
        top:50px;
    }
}

@media (max-width:360px){
    .formButton {
        width: 150px;
        height: 40px;
        top:-20px;
        font-size: 14px;
    }
}